body {
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}

.title {
    text-align: center;
    font-size:xx-large;
    border: 1px solid black;
    width: 18%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: #F69B81 ;
    box-shadow: 3px 3px 10px;
    
    
    
    
}

.own {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 18%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 1em;
    background-color: #F69B81  ;
    box-shadow: 3px 3px 10px;
    
}

.ownFish__card {
    border: 1px solid black;
    background-color: aqua;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px 10px;
     
    
}




.fishCard {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    width: 75%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    background-color:#F69B81;
    box-shadow: 3px 3px 10px;
    
}


.fishImg__container {
    width: 35%;
    height: 35%;
    
    
}

.fishImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black;
    
    
}
.fishText {
    
    width: 80%;
    margin: 10px;
    text-align: center;
    font-size: larger;
}


.fish_and_Tips {
    margin-bottom: 10px;
    display: flex;
    
}

.tankTips {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 20%;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    background-color: #F69B81  ;
    box-shadow: 3px 3px 10px;
}

.tipCard {
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    background-color:#F69B81;
    box-shadow: 3px 3px 10px;
}

.tips__card {
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    margin-left: 10px;   
    margin-bottom: 10px;
    background-color: aqua; 
    box-shadow: 3px 3px 10px;
}


.text_bold {
    font-weight: bold;
}


.quotes {
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1em;
    font-weight:500;
    background-color: #F69B81;
    box-shadow: 3px 3px 10px;
    padding: 10px;
    width: 30%;
 
   
 
}

.quote__card {
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
    margin: auto;
    margin-top: 40px;
    box-shadow: 3px 3px 10px;
    width: 100%;
    box-sizing: border-box;
}

.quoteList {
    display: flex;
    flex-wrap: wrap;
}

.martinQuotes {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 35%;
    padding: 3px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #F69B81  ;
    box-shadow: 3px 3px 10px;
}

.locationTitle {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 35%;
    padding: 3px;
    margin: auto;
    margin-top: 10px;
    
    background-color: #F69B81  ;
    box-shadow: 3px 3px 10px;
}

.locationCard {
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 60%;
    /* height: 500px; */
    margin: auto;
    margin-top: 40px;
    box-shadow: 3px 3px 10px;

}

.locationImg_Container {
    width: 20%;
    height: 20%;
    margin: auto;
}

.locationImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px;
    margin: auto;
}

.location {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border-radius: 50px;
    width: 15%;
    padding: 3px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F69B81  ;
    box-shadow: 3px 3px 10px;

}




